body {
direction: rtl;
}

/* custom-audio.css */
audio::-webkit-media-controls-panel {
  display: flex !important;
  align-items: center;
}

audio::-webkit-media-controls-play-button {
  display: none !important;
}

audio::-webkit-media-controls-start-playback-button {
  display: none !important;
}
#drumsIcon{
  height: auto;
  width: 100%;
}